*{
    padding:0px;
    margin:auto;
}
.container span {

    position: relative;
    width: 300px;
    padding:20px 80px;
    
}
h1 span{

    color: white;
    background-color: brown;
    padding: 20px;

}
h1{

    padding:20px;
}
body {

    background-color: aliceblue;
    padding-top: 60px;
}
.section2{

    margin:60px;
}
.section2 .timezone{
border-radius:30px;
background-color: sandybrown;
padding:20px;
}

.section2 .cities{
    background-color:white;
    padding:8px;

}

.section2 .cities select option:hover {
    box-shadow: 0 0 10px 100px #000 inset;
    background-color: black;
    
}
    .section2 .cities:hover {
        background-color: white;
        cursor: pointer;
    }
.section2 table td {
    padding: 15px;

}

.section2 .color {
    position: absolute;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    padding: 30px;
   
}
.section.radios{
    position:relative;
    top:180px;
    left:60px;

}
.section2 table button {
    position: relative;   
    border-radius: 30px;
    background-color: darkslateblue;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
}
